.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.img-wrapper {
  max-width: 100px;
}
.logo-link {
  display: block;
}
.logo-img {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.burger-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 32px;
  padding: 10px;
  background: transparent;
  border: none;
}
.burger-line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--grey-color);
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 20px 70px;
  }
  .img-wrapper {
    max-width: 200px;
  }
}
